mat-sidenav{
    background: #e22e5e96;
    width: 200px;
    text-align: center;
    color:black;
    height:597px;
}
mat-sidenav-container{
    background: transparent;
}
mat-sidenav-content{
    background: transparent;
}

app-header{
    background-color: rgb(0, 0, 0);
}









