mat-sidenav{
    background: slategrey;
    width: 200px;
    text-align: center;
    color:black;
}
.mat-typography{
    background-color: indianred;
}

/* app-header{
    background-blend-mode: unset;
} */





