<div class="container">
    <h2> All Courses</h2>
    <h2 class="bg-warning text-black">{{ myError }}</h2>

    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-4" 
        [ngStyle]="{'background-color': course.removed === 0 ? 'rgba(5, 196, 15, 0.445)' : 'rgba(177, 5, 5, 0.445)' }"
         *ngFor="let course of allCourses">
            
                <div class="card=title" style="font-size: large;">
                    {{ course.courseName }}
                </div>
                <div class="card-body">
                    <div>{{ course.courseDescription }}</div>
                    <div>{{ course.noOfDays }}</div>
                </div>
            
            <!-- <div class="green" *ngIf="course.removed == 0">
                <div class="card=title" style="font-size: large;">
                    {{ course.courseName }}
                </div>
                <div class="card-body">
                    <div>{{ course.courseDescription }}</div>
                    <div>{{ course.noOfDays }}</div>
                </div>
            </div> -->
        </div>
    </div>
</div><br><br>
