<div class="container">
    <div class="card mt-4">
        <div class="card-header display-4">
            <p>Add Program</p>
        </div>
        <form #myForm="ngForm" (ngSubmit)="addProgram(program)">
            <div class="card-body">
                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control mx-2" id="startDate" [(ngModel)]="program.startDate"
                        name="startDate" required #sdate="ngModel" placeholder="Enter Start Date">
                </div>
                <span *ngIf="sdate.errors?.required && sdate.touched" class="text-danger small">
                    Start Date is Mandatory!!!
                </span>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control mx-2" id="endDate" [(ngModel)]="program.endDate"
                        name="endDate" required #edate="ngModel" placeholder="Enter End Date">
                </div>
                <span *ngIf="edate.errors?.required && edate.touched" class="text-danger small">
                    End Date is Mandatory!!!
                </span>
                <div class="form-group" >
                    <label for="course">Course:</label>
                    <select class="form-control" id="course" name="course" [(ngModel)]="program.course.courseName">
                        <option  *ngFor="let course of allCourses">{{ course.courseName }}</option>
                    </select>
                </div>
    
                <div class="form-group" >
                    <label for="trainer">Trainer:</label>
                    <select class="form-control" id="trainer" name="trainer" [(ngModel)]="program.trainer.trainerName">
                        <option *ngFor="let trainer of allTrainers">{{ trainer.trainerName }}</option>
                    </select>
                </div>
            <div class="card-footer">
                <button [disabled]="!myForm.valid" id="btn2" type="submit" class="btn
                                                            btn-success">Add Program
                    </button><br><br>
            </div>
            </div>
        </form>
    </div>
</div>
